#wrapper {
    height: 100%;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &.toggled {
      padding-left: 250px;
      #page-content-wrapper {
          position: absolute;
          margin-right: -250px;
      }
      #sidebar-wrapper {
          width: 250px;
      }
    }
}

#page-content-wrapper {
    position: absolute;
    padding: 0 15px;
    margin-right: -250px;

    .hamburger {
      font-size: 24px;
      padding: 5px 10px;
    }
}

.category-header {
  position: fixed;
  z-index: 100;
  padding-top: 15px;
  background-color: white;
  width: 100%;

  h1 {
    display: inline-block;
    margin: 0;
    padding: 0 7px;
    text-transform: capitalize;
    border: none;
    vertical-align: middle;
  }
}

.category-feed {
  padding-top: 87px;
}

.events-not-found {
  margin-top: 20px;
}

