#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;

    .glyphicon {
        font-size: 10px;
    }
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    text-transform: capitalize;
    &.active a {
      text-decoration: none;
      color: #fff;
    }
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav {
    .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
        a {
            color: #999999;
        }
        a:hover {
            color: #fff;
            background: none;
        }
    }
}
.user-selector {
    width: 210px;
    margin: 0 auto 15px;
}
.sidebar-nav-group {
    margin: 0 15px 0;
    padding: 0;
    list-style: none;
}
.first-node {
    margin: 0;
}
