<wrapper>
  <div class="category-header">
    <div class="row">
      <div class="col-lg-12">
        <span hamnurger></span>
        <h1 class="page-header">
          {{currentCategory.title}}
          <small>{{currentCategory.subtitle}}</small>
        </h1>
      </div>
    </div>

    <hr />
  </div>

  <div class="category-feed" dr-window-infinite-scroll="onScroll()">
    <article ng-repeat="event in events track by $index">
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-responsive" ng-src="{{event.thumb + $index}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>{{event.title}}</h3>
          <h4>{{event.subheading}}</h4>
          <p>{{event.summary}}</p>
          <p>
            <b>Speakers:</b>
            <span ng-repeat="user in event.users">
              {{user.firstName}} {{user.lastName}}<i ng-if="event.users.length -1 !== $index">,</i>
            </span>
          </p>
          <p>
            <b>Start at:</b> {{event.startAt | parseDate}}
          </p>
        </div>
      </div>

      <hr />
    </article>
  </div>
  <div ng-if="!events.length" class="events-not-found">Events not found</div>
</wrapper>
