<!DOCTYPE html>
<html>
<head>
  <title>Ruby-Angular-Example</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body ng-app="eventsFeed">
  <div ng-view class="angular-view"></div>

  <script type="text/javascript">
    window.__EVENTS_FEED_CATEGORIES__ = [
      {id: 1, title: 'dashboard', subtitle: 'dashboard\'s subtitle'},
      {id: 2, title: 'shortcuts', subtitle: 'shortcuts\' subtitle'},
      {id: 3, title: 'events', subtitle: 'events\' subtitle'},
      {id: 4, title: 'about', subtitle: 'about\'s subtitle'},
      {id: 5, title: 'services', subtitle: 'services\' subtitle'},
      {id: 6, title: 'contact', subtitle: 'contact\' subtitle'}
    ]; 
  </script>

  <%= javascript_include_tag 'application'%>
</body>

</html>

